// utlis
@import '../utils/variables';

.button {
  border-radius: 5px;
  background-color: #f4f4f4;
  text-decoration: none;
  padding: 13px 60px 18px;
  display: inline-block;

  white-space: nowrap;
  word-wrap: normal;

  @media (max-width: $mobile-md) {
    padding: 15px 67px 20px;
  }
  &_fixed {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    opacity: 0;
  }
  &_show-up {
    display: inline-block;
    z-index: 1;
    opacity: 1;
    animation: showUp .2s ease-in-out;
  }
  &_dark {
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: lighten(#000, 15%);
    }
    &:active {
      background-color: lighten(#000, 25%);
    }
  }
}

@keyframes showUp {
  from {
    opacity: 0;
    bottom: 35px;
  }
  to {
    opacity: 1;
    bottom: 15px;;
  }
}