// modules
@import '../../node_modules/normalize.css/normalize';

// utlis
@import 'utils/mixins';
@import 'utils/variables';

// components
@import 'components/button';

// fonts
@include font-face('Sovest', '../fonts/Sovest-Regular', 400, normal);
@include font-face('Sovest', '../fonts/Sovest-Medium', 500, normal);

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

body {
  background-color: #f2f2f2;
  font-family: Sovest;
  font-size: 18px;
  transition: all .2s ease-out;
  @media (max-width: $mobile-md) {
    font-size: 16px;
  }
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 25px 35px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  @media (max-width: $mobile-md) {
    text-align: center;
  }
  &__container {
    @extend .container;
    padding: 0 35px;
  }
}

.footer {
  border-top: 1px solid #d8d8d8;
  padding: 34px 0 26px;
  margin-bottom: 60px;
  @media (max-width: $mobile-md) {
    padding: 25px 0 26px;
  }
  &__container {
    @extend .container;
    padding: 0 65px;
    @media (max-width: $mobile-md) {
      padding: 0 20px;
    }
  }
  &__body {
    opacity: 0.4;
    font-size: 15px;
    line-height: 1.47;
  }
  &__button-group {
    text-align: center;
  }
}

.main {
  &__container {
    @extend .container;
  }
}

.get-card {
  text-align: center;
  padding: 35px 0;
  &__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.19;
    margin: 0;
    @media (max-width: $mobile-md) {
      font-size: 22px;
    }
  }
  &__desc {
    padding: 22px 0 15px;
    line-height: 1.28;
    @media (max-width: $mobile-md) {
      max-width: 245px;
      padding: 16px 0 15px;
      margin: 0 auto;
    }
  }
  &__button-group {
    margin: 30px 0 20px;
    @media (max-width: $mobile-md) {
      margin: 22px 0 16px;
    }
  }
  &__cover {
    @include image-2x('../images/partners@2x.png', 788px, auto);
    background: url('../images/partners.png') 50% 0 no-repeat;
    height: 493px;
    @media (max-width: $mobile-md) {
      @include image-2x('../images/partners-mobile@2x.png', 466px, auto);
      background: url('../images/partners-mobile.png') 50% 0 no-repeat;
      height: 357px;
    }
  }
}

.one-card {
  text-align: center;
  &__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.19;
    margin: 0;
    @media (max-width: $mobile-md) {
      font-size: 22px;
    }
  }
  &__image {
    padding: 15px;
    max-width: 472px;
    @media (max-width: $mobile-md) {
      padding: 7px 0;
      width:100%;
      max-width: 320px;
    }
  }
}

.advantages {
  text-align: center;
  padding-bottom: 45px;
  @media (max-width: $mobile-md) {
    padding-bottom: 15px;
  }
  &__item {
    display: inline-block;
    width: 185px;
    line-height: 1.28;
    margin: 0 27px 70px;
    @media (max-width: $mobile-md) {
      display: block;
      margin-bottom: 44px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__icon {
    padding-bottom: 10px;
  }
  &__image {
    &_1 {
      width: 80px;
      @media (max-width: $mobile-md) {
        width: 57px;
      }
    }
    &_2 {
      width: 66.5px;
      @media (max-width: $mobile-md) {
        width: 46.6px;
      }
    }
    &_3 {
     width: 71.2px;
      @media (max-width: $mobile-md) {
        width: 54.4px;
      }
    }
    &_4 {
      width: 66px;
      @media (max-width: $mobile-md) {
        width: 47.3px;
      }
    }
    &_5 {
      width: 80px;
      @media (max-width: $mobile-md) {
        width: 57px;
      }
    }
  }

}


.mobile-show {
  display: none;
  @media (max-width: $mobile-md) {
    display: block;
  }
}

.opera-mini {
  .footer {
    margin-bottom: 0;
  }
  .footer__button-group {
    margin: 20px 0 0;
  }
}